<html lang="en">
<title>{{pageTitle}}</title>
  <meta property="og:title" content="{{pageTitle}}">
  <meta property="og:site_name" content="ASLBibleBot">
  <meta name="description" content="This is the American Sign Lanugage version of the Bible passage {{pageTitle}}.">
  <meta property="og:description" content="This is the American Sign Lanugage version of the Bible passage {{pageTitle}}.">
  <meta property="og:type" content="video.other">
  <meta property="og:url" content="{{pageUrl}}">
  <meta property="og:image" content="http://www.bible.is/images/icon_deaf_200.png">
  <style>video#bgvid{position:fixed;top:50%;left:50%;min-width:100%;min-height:100%;width:auto;height:auto;z-index:-100;-ms-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);background:url(http://www.bible.is/images/icon_deaf_200.png) no-repeat;background-size:cover}</style>
<body>
  <video autoplay loop poster="http://www.bible.is/images/icon_deaf_200.png" id="bgvid">
    <source src="{{videoUrl}}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</body>
</html>
